{{partial 'partials/logo'}}

<div class='col-md-4'>
  <form>
    {{partial 'partials/email-password'}}
    {{partial 'partials/remember-me'}}
    <div class="form-group">
      <button class="btn btn-primary" {{action 'submitLoginForm'}}>Login</button>
    </div>
  </form>
</div>
