<div class='col-md-2'>
  <h5>Game List</h5>

  <form>
    <div class="form-group">
      <button class="btn btn-primary form-control" {{action 'createGame'}}>Create New</button>
    </div>
  </form>
</div>

{{partial 'partials/modal-form'}}
